<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css" rel="stylesheet">
</head>
<body>

<h2>Upload Document</h2>
<form action="/upload" class="dropzone" id="myDropzone">
</form>

<a href="/search">Go to Search</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
<script>
Dropzone.options.myDropzone = {
    acceptedFiles: ".txt,.pdf,.zip",
    parallelUploads: 1,
    timeout: 180000,
};
</script>

</body>
</html>
